/*--------------------------------------------------------------
>>> TEXT
--------------------------------------------------------------*/

/* TEXT SIZE */
h1 {font-size: calc(1.375rem + 1.5vw) !important;}
h2 {font-size: calc(1.225rem + 0.9vw) !important;}
h3 {font-size: calc(1.13rem + 0.6vw) !important;} 
h4 {font-size: calc(1.03rem + 0.3vw) !important;} 
h5 {font-size: calc(1rem + 0.3vw) !important;} 
h6 {font-size: calc(0.8rem + 0.3vw) !important;} 
a {font-size: calc(1.075rem + 0.3vw) !important;} 
p {font-size: calc(1.075rem + 0.3vw) !important;} 

/* TEXT STYLE( BOLD / UNDERLINE / FONT / ETC.) */
    /* h3 = title / h4 = subtitle */
a {text-decoration: none !important;}
li {list-style-type: none !important;}
.page-body li {list-style-type: disc !important; font-size: 1.6rem;}
ul {line-height: 2rem;}
/*--------------------------------------------------------------
>>> TEXT - END
--------------------------------------------------------------*/

/*--------------------------------------------------------------
>>> COLOR
--------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {color: var(--light);}
p, label {color: var(--light);}
li {color: var(--light);}
footer i {color: white !important;}

/* ROOT THEME */
:root {
    --light: white;
    --dark: black;
    --shadow: rgba(0,0,0,0.44);
    --other-primary: red;
    --other-secondary: green;
    --bg1: #ee7752;
    --bg2: #e73c7e;
    --bg3: #23a6d5;
    --bg4: #23d5ab;
    --other1: #00ff00;
    --other2: purple;
  }
  
  /* DARK THEME */
  [data-theme="dark"] {
    --light: black;
    --dark: white;
    --shadow: rgba(228, 222, 222, 0.44);
    --other-primary: green;
    ---other-secondary: red;
    --bg1: #131111;
    --bg2: #711688;
    --bg3: #23a6d5;
    --bg4: #23a687;
    --other1: #00ff00;
    --other2: purple;
  }
  
  /*--------------------------------------------------------------
  >>> COLOR - END
  --------------------------------------------------------------*/