/*--------------------------------------------------------------
>>> TEXT
--------------------------------------------------------------*/

/* SIZE */
h1 {font-size: calc(1.375rem + 1.5vw) !important;}
h2 {font-size: calc(1.225rem + 0.9vw) !important;}
h3 {font-size: calc(1.13rem + 0.6vw) !important;} 
h4 {font-size: calc(1.03rem + 0.3vw) !important;} 
h5 {font-size: calc(1rem + 0.3vw) !important;} 
h6 {font-size: calc(0.8rem + 0.3vw) !important;} 
a {font-size: calc(1.075rem + 0.3vw) !important;} 
p {font-size: calc(1.075rem + 0.3vw) !important;} 
li {font-size: calc(1.075rem + 0.3vw) !important;} 


/* STYLE */
.title {margin: 1rem 0 1rem 0; text-decoration: underline;} /* h3 = title */
.tac {text-align: center;}
a {text-decoration: none !important;}
li {list-style-type: none !important;}

/* COLOR */
h1, h2, h3, h4, h5, h6 {color: var(--light);}
p, label {color: var(--light);}
li {color: var(--light);}
a {color: var(--light);}

/*--------------------------------------------------------------
>>> TEXT - END
--------------------------------------------------------------*/


/*--------------------------------------------------------------
>>> DEFAULT COLORS
--------------------------------------------------------------*/

/* NAVIGATION */
.nav-item .secondary :hover {background-color: var(--light); }
.bar {background-color: var(--light);}
.header {background-color: var(--dark); border-bottom: 5px solid var(--other1);}
.nav-link {color: var(--light);}
.nav-link:hover {color: var(--other1);}
.header-social i {color: var(--light);}
.header-social i:hover {color: var(--other1);}
.navbar-links {color: var(--light);}
/* MOBILE */
.nav-menu.active {background-color: var(--dark);}
.nav-menu.active > li:hover {border: 2px solid var(--light);}

/* SLIDER */
input:checked + .slider {background-color: var(--light);}
.slider.round {border-radius: 34px;}
.slider.round:before {border-radius: 50%;}
input:checked + .slider:before {transform: translateX(26px); background-color: var(--other1);}
.slider {background-color: var(--light);}
.slider:before {background-color: var(--other1);}

/* DROPDOWN */
ul li:hover ul.dropdown {display: block;}
ul li ul.dropdown {background-color: var(--light); border: 2px solid var(--other1);}
.dropdown li a {color: var(--dark) !important;}
.dropdown li a:hover {color: var(--other1) !important;}

/* TOOLTIP */
.tooltip .tooltiptext {background-color: var(--light); border: 2px solid var(--dark); color: var(--dark) !important;}

/* HERO */
.hero-text * {color: white;}
.hero-text > h2 > span {color: white !important;}
.hero-image {background: radial-gradient(circle, rgba(255,255,255,0.010224158022584029) 0%, rgba(0,0,0,1) 69%); border-bottom: 5px solid var(--other1);}

/* DEFAULT BODY */
hr {background-color: black; color: black;}
.page-body {background-color: var(--dark);}
footer i {color: white !important;}

/* BUTTONS */
.nachi-btn {background-color: black; color: white !important;}
/* BUTTON 1 */
.btn { background-color: var(--light); color: black !important;}
.btn:hover {background-color: var(--dark); color: var(--other1); border: 2px solid var(---other1);}
/* BUTTON 2 */
.intro-btn {background-color: black; color: white;}
.intro-btn:hover {border: 2px solid white; color: white !important; background-color: black;}
/* BUTTON 3 */
.bk-btn {background-color: var(--other1); color: black !important; border: 2px solid black;}
.bk-btn:hover {background-color: black; color: white !important; border: 2px solid var(--other1);}
/* BUTTONS END */

/* CARDS */
.card-1 * {color: var(--dark);}
.card-2 * {color: var(--light);}
.card-container-1 {background-color: var(--light);}
.card-container-2 {background-color: var(--dark);}

/* FOOTER */
#footer {border-top: 3px solid var(--other1); background-color: black;}
.sub-footer {background-color: var(--dark); color: var(--light);} 
#backToTop {color: var(--other1); background-color: var(--light); border: 3px solid var(--dark);}


/*--------------------------------------------------------------
>>> DEFAULT COLORS - END
--------------------------------------------------------------*/


/*--------------------------------------------------------------
>>> OTHER COLOR
--------------------------------------------------------------*/
/* HOME PAGE */
/* BANNER */
#banner {background-color: var(--other1);}
.banner-content * {color: black;}
/* CONTACT */
.contact-info > a > i {color: var(--other1);}
.contact-form input, textarea {background-color: var(--dark); border: 2px solid var(--light); color: var(--light);}
/* FORM */
#fname,#lname,#email,#age,#size,#location,#phone,#message::placeholder {color: var(--light);}
/* CERTIFICATIONS */
#certifications {background-color: var(--other1);}
#certifications h2 {color: black;}

/* FAQS PAGE */
/* ACCORDION */
.accordion {background-color: var(--light); color: var(--dark);}
.active-acc, .accordion:hover {background-color: var(--other1); color: black;}
.panel p {color: var(--dark);}
.panel {background-color: var(--light);} 

/* DIY SECTION*/
#diy {background-color: var(--other1);}
#diy * {color: black;}
.symbol {color: var(--other1);}
.diy-intro {background-color:#00ff00;}
.diy-image {border: 2px solid black;} 

/* SERVICES PAGE */
#service {background-color: var(--other1);}
#service * {color: black;}

/* THOUGHT BUBBLE */
p.bubble {background-color: var(--dark); border: 8px solid var(--light);}
p.thought:before, p.thought:after {background-color: var(--dark); border: 8px solid var(--light);}
.pre-listing > p, span{color: var(--light) !important;}


/* ROOT THEME */
:root {
    --light: white;
    --dark: black;
    --shadow: rgba(0,0,0,0.44);
    --other-primary: red;
    --other-secondary: green;
    --bg1: #ee7752;
    --bg2: #e73c7e;
    --bg3: #23a6d5;
    --bg4: #23d5ab;
    --other1: #00ff00;
    --other2: purple;
  }
  
  /* DARK THEME */
  [data-theme="dark"] {
    --light: black;
    --dark: white;
    --shadow: rgba(228, 222, 222, 0.44);
    --other-primary: green;
    --other-secondary: red;
    --bg1: #131111;
    --bg2: #711688;
    --bg3: #23a6d5;
    --bg4: #23a687;
    --other1: #00ff00;
    --other2: purple;
  }
  
  /*--------------------------------------------------------------
  >>> COLOR - END
  --------------------------------------------------------------*/