/*--------------------------------------------------------------
>>> NAVIGATION MENU
--------------------------------------------------------------*/
/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
    width: 100%;
    padding: 1rem 2rem 1rem 1rem;
    max-height: 95px;
}

/* CHANGE LOGO SIZE */
.header-logo {
    width: 80px;
    height: 60px;
}

/* SOCIAL LINKS */
.header-social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 20%;
    max-width: 20%;
}

/* EDIT THE LINKS */
.navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 57vw;
}

/* MOBILE MENU */
.hamburger {display: none;}
.mobile-social-nav {display:none;}

/* TOOLTIP */
.tooltip:hover .tooltiptext {visibility: visible;}
.tooltip .tooltiptext {
    visibility: hidden;
    padding: 0.50rem 1rem;
    margin-top: 2rem;
    position: absolute;
    z-index: 280 !important;
}

/* DROPDOWN */
ul li ul.dropdown li {display: block;}
ul li:hover ul.dropdown {display: block;}
ul li ul.dropdown {
    padding: 1rem;
    margin: 0rem 0 0 -3rem;
    width: auto;
    z-index: 999;
    position: absolute;
    display: none;
}

/* THEME SWITCH */
.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    /* top: 60px; */
    /* left: 20px; */
    margin: 0 auto;
    width: 60px;
}

/* SLIDER */
.slider.round {border-radius: 34px;}
.slider.round:before {border-radius: 50%;}

.slider {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

/* HERO */
.hero-image {
    background-image: url('../../assets/images/hero.png');
    min-height:600px;
    max-height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 13rem;
}

/*--------------------------------------------------------------
>>> NAVIGATION MENU - END
--------------------------------------------------------------*/




/*--------------------------------------------------------------
>>> 1400
----------------------------------------------------------------*/
@media only screen and (max-width: 1400px) {
    .hero {padding-top: 4rem;}
    .hero-image {
        width:100% !important;
        min-width:100% !important;
        padding-top: 1rem;
        height: 100vh;
    } 
}
/*--------------------------------------------------------------
>>> 1400
----------------------------------------------------------------*/





/*--------------------------------------------------------------
>>> 1200
----------------------------------------------------------------*/
@media only screen and (max-width: 1200px) {}
/*--------------------------------------------------------------
>>> 1200
----------------------------------------------------------------*/





/*--------------------------------------------------------------
>>> 992
----------------------------------------------------------------*/
@media only screen and (max-width: 992px) {
    .hamburger.active .bar:nth-child(1) {transform: translateY(8px) rotate(45deg);}
    .hamburger.active .bar:nth-child(3) {transform: translateY(-8px) rotate(-45deg);}  
    .hamburger {display: block;}
    .header-switch {margin-left: 7rem;}
    .nav-menu.active {left: 0;}
    .nav-item {margin: 2rem 0;}

    .header {
        padding: 1rem 1rem 1rem 0rem;
        justify-content: space-around;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .bar {
        display: block;
        width: 35px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
}
/*--------------------------------------------------------------
>>> 992
----------------------------------------------------------------*/


/*--------------------------------------------------------------
>>> 768
----------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
    .header-switch {margin-left: 4rem;}
    .header-social {margin-left: 3rem;} 
    .hero-image {height: 60vh;}
}
/*--------------------------------------------------------------
>>> 768
----------------------------------------------------------------*/


/*--------------------------------------------------------------
>>> 576
----------------------------------------------------------------*/
@media only screen and (max-width: 576px) {
    .hero-image {height: 40vh !important;}
    .hero {padding-top: 5rem !important;}
    .nav-item .secondary :hover {padding: 1rem 7rem 1rem 7rem;}
    .header-social {display: none !important;}
    .header-switch {margin-left: 3rem !important;}
    .nav-item { margin: 1.5rem 0  1.5rem 0;}
    .tooltiptext {display: none;}
    .nav-item {margin: 1rem 0;}
    .mobile-social-nav {
        display:flex;
        justify-content: space-around;
        padding: 2rem 0;
        min-width: 100%;
    }
}
/*--------------------------------------------------------------
>>> 576
----------------------------------------------------------------*/