/*--------------------------------------------------------------
>>> FOOTER
--------------------------------------------------------------*/

.footer-logo {
    width:30%; 
    margin: 5% auto 6% auto;
}

.footer-social {
    width: clamp(40%, 100%, 700px);
    justify-content: space-between;
} 

/*--------------------------------------------------------------
>>> FOOTER END
--------------------------------------------------------------*/

/*--------------------------------------------------------------
>>> BACK TO TOP
--------------------------------------------------------------*/

#backToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 16px;
    z-index: 99;
    font-size: 2rem;
    padding: 5px;
    /* border: 2px solid red; */
    /* border-radius: 10px; */
}

#backToTop:hover {font-size: 2.6rem;}

/*--------------------------------------------------------------
>>> BACK TO TOP - END
--------------------------------------------------------------*/

/*--------------------------------------------------------------
>>> 1400
----------------------------------------------------------------*/
@media only screen and (max-width: 1400px) {}
/*--------------------------------------------------------------
>>> 1400
----------------------------------------------------------------*/

/*--------------------------------------------------------------
>>> 1200
----------------------------------------------------------------*/
@media only screen and (max-width: 1200px) {}
/*--------------------------------------------------------------
>>> 1200
----------------------------------------------------------------*/

/*--------------------------------------------------------------
>>> 992
----------------------------------------------------------------*/
@media only screen and (max-width: 992px) {}
/*--------------------------------------------------------------
>>> 992
----------------------------------------------------------------*/

/*--------------------------------------------------------------
>>> 768
----------------------------------------------------------------*/
@media only screen and (max-width: 768px) {}
/*--------------------------------------------------------------
>>> 768
----------------------------------------------------------------*/

/*--------------------------------------------------------------
>>> 576
----------------------------------------------------------------*/
@media only screen and (max-width: 576px) {}
/*--------------------------------------------------------------
>>> 576
----------------------------------------------------------------*/