/*--------------------------------------------------------------
>>> FOOTER
--------------------------------------------------------------*/

#footer {
    border-top: 3px solid var(--other1);
    background-color: black;
}

.footer-logo {
    width:100%; 
    margin-top: 3rem;
}

.footer-social {
    padding: 2rem;
    min-width: 40%;
    max-width: 40%;

} 

.sub-footer {
    background-color: var(--dark);
    color: var(--light); 
    padding: 1rem;
    min-width: 100%;
} 



/*--------------------------------------------------------------
>>> FOOTER END
--------------------------------------------------------------*/

/*--------------------------------------------------------------
>>> BACK TO TOP
--------------------------------------------------------------*/

#backToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 16px;
    z-index: 99;
    font-size: 2rem;
    color: var(--other1);
    cursor: pointer;
    padding: 5px;
    background-color: var(--light);
    border-radius: 10px;
}

#backToTop:hover {font-size: 2.6rem;}

/*--------------------------------------------------------------
>>> BACK TO TOP - END
--------------------------------------------------------------*/


/*--------------------------------------------------------------
>>> 1400
----------------------------------------------------------------*/
@media only screen and (max-width: 1400px) {}
/*--------------------------------------------------------------
>>> 1400
----------------------------------------------------------------*/




/*--------------------------------------------------------------
>>> 1200
----------------------------------------------------------------*/
@media only screen and (max-width: 1200px) {}
/*--------------------------------------------------------------
>>> 1200
----------------------------------------------------------------*/




/*--------------------------------------------------------------
>>> 992
----------------------------------------------------------------*/
@media only screen and (max-width: 992px) {}
/*--------------------------------------------------------------
>>> 992
----------------------------------------------------------------*/




/*--------------------------------------------------------------
>>> 768
----------------------------------------------------------------*/
@media only screen and (max-width: 768px) {}
/*--------------------------------------------------------------
>>> 768
----------------------------------------------------------------*/




/*--------------------------------------------------------------
>>> 576
----------------------------------------------------------------*/
@media only screen and (max-width: 576px) {
    .footer-social {
        padding: 4rem 0 2rem 0;
        min-width: 100%;
        max-width: 100%;
    
    } 
}
/*--------------------------------------------------------------
>>> 576
----------------------------------------------------------------*/