/*--------------------------------------------------------------
>>> LAYOUTS SAVE 
--------------------------------------------------------------*/
/* <div class="page-body">
    <div id="example" class="container">
        <h3 class="title"></h3>
        <div class="flex">
            <div></div>
        </div>
    </div>
</div> */

/* PAGE BODY */
.page-body {max-width: 1568px;}

.container {
    max-width: 100%;
    min-width: 100%;
    padding: 2rem 2rem;
    /* padding-block: min(4vh, 10rem); */
}
/* PAGE BODY END */
hr {
    height: 2px;
    border: 2px solid black;
    width: 50%;
    margin: 3rem auto;
}
/* BUTTONS */
.btn { 
    margin: 2rem 0;
    padding: 0.8rem 1.4rem;
    font-size: 1.2rem;
}

/* FLEX */
.flex {display: flex; flex-wrap: wrap;}
.col {flex-direction: column;}
.row {flex-direction: row;}
.gap {gap: 15px;}
.center {justify-content: center; align-items: center;}
/* SINGLE COLUMN */
.flex1 {display: flex;}
.flex1 > * {gap: 1em; flex-basis: 1 1 100%;}
/* TWO COLUMN : WRAP*/
.flex2 {gap: 1em; display: flex; flex-wrap: wrap;}
.flex2 > * {flex: 1 1 49%;}
/* SIDEBAR */
.sidebar {gap: 10px; display: flex; flex-wrap: wrap;}
.sidebar > *:nth-child(1) {flex: 1 1 29%;}
.sidebar > *:nth-child(2) {flex: 1 1 70%;}
/* THREE COLUMN : WRAP */
.flex3 {gap: 1em; display: flex; flex-wrap: wrap;}
.flex3 > * {flex: 1 1 32%;} 
/* FOUR COLUMN : WRAP */
.flex4 {gap: 1em; display: flex; flex-wrap: wrap;}
.flex4 > * {flex: 0 1 25%;}
/* LAYOUTS - END*/
/*--------------------------------------------------------------
>>> LAYOUTS SAVE END
--------------------------------------------------------------*/

/*--------------------------------------------------------------
>>> HOME - DONE
--------------------------------------------------------------*/
.contact-info i {margin:1rem 1rem 0 0rem;} 
.services-list {line-height: 25px;}
.nachi {max-width: 60%;}
.special {order: 2;}
.services-list > p > i {margin: 1rem 1rem 0 0;}
.cert-gallery > div > img {max-width: 50%;}

.contact-form input, textarea {
    min-width: 70%;
    margin: 10px 0;
    padding: 16px;
}

.cert-gallery > * {
    display: flex;
    justify-content: center;
    align-content: center;
}
/*--------------------------------------------------------------
>>> HOME END
--------------------------------------------------------------*/


/*--------------------------------------------------------------
>>> ABOUT - DONE
--------------------------------------------------------------*/
.about-text p {padding: 0rem 1rem 1rem 2rem;}
.about-image img {max-width: 100%;}
/*--------------------------------------------------------------
>>> ABOUT - END
--------------------------------------------------------------*/


/*--------------------------------------------------------------
>>> FAQS
--------------------------------------------------------------*/
.faqs-section {
    max-width: 90%;
    margin: 0 auto;
    padding: 4rem 0 6rem 0;
} 

.accordion {
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    margin-top: 2rem;
}

.panel p {max-width: 85%;}

.panel {
    padding: 1rem 3rem;
    display: none;
    overflow: hidden;
} 

/* DIY */
#diy {scroll-margin-top: 6rem;}
.diy-intro {padding: 3rem 0;}
.limitations-list {margin: 0 0 0 4rem;}

.diy-section {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 0 4rem 0;
} 

.panel-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.diy-pic {
    margin-top:3rem;
    max-width: 100%;;
} 

.diy-image {
    width: 400px;
    height: 400px;
    margin: 0 auto;
} 

.diy-title {
    padding: 1rem;
    text-decoration: underline;
}
/*--------------------------------------------------------------
>>> FAQS - END
--------------------------------------------------------------*/

/*--------------------------------------------------------------
>>> SERVICES
--------------------------------------------------------------*/

.pre-listing {margin: 1rem 0 4rem 0;}

/* INFO CONTAINERS */
.card-image{
    width: 500px;
    height: 550px;
}

.res-intro h3{margin: 2rem 0 0 0;}

/* THOUGHT BUBBLE */

p.bubble {
    position: relative;
    width: 100%;
    text-align: center;
    line-height: 1.2em;
    margin: 0 auto;
    border-radius: 30px;
    padding: 20px;
    font-size: large;
}

p.thought {
    width: 100%;
    border-radius: 200px;
    padding: 30px;	
}

p.bubble:before,
p.bubble:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
}

p.thought:before,
p.thought:after {
    left: 10px;
    bottom: -30px;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
}

p.thought:after {
    width: 20px;
    height: 20px;
    left: 5px;
    bottom: -40px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
}
/* THOUGHT BUBBLE - END */

/*--------------------------------------------------------------
>>> SERVICES - END
--------------------------------------------------------------*/


/*--------------------------------------------------------------
>>> 1400
----------------------------------------------------------------*/
@media only screen and (max-width: 1400px) {}
/*--------------------------------------------------------------
>>> 1400
----------------------------------------------------------------*/


/*--------------------------------------------------------------
>>> 1200
----------------------------------------------------------------*/
@media only screen and (max-width: 1200px) {
.other {order:1;}
}
/*--------------------------------------------------------------
>>> 1200
----------------------------------------------------------------*/


/*--------------------------------------------------------------
>>> 992
----------------------------------------------------------------*/
@media only screen and (max-width: 992px) {
    /* .lists {margin-bottom: 4rem} */
}
/*--------------------------------------------------------------
>>> 992
----------------------------------------------------------------*/


/*--------------------------------------------------------------
>>> 768
----------------------------------------------------------------*/
@media only screen and (max-width: 768px) {}
/*--------------------------------------------------------------
>>> 768
----------------------------------------------------------------*/

/*--------------------------------------------------------------
>>> 576
----------------------------------------------------------------*/
@media only screen and (max-width: 576px) {
    /* DEFAULT */
    .title {margin: 1rem 0 1rem 0; text-decoration: underline;}
    /* ABOUT */
    .about-text p {padding: 0rem;}

    /* .contact-form input, textarea {width: 100%;} */
    /* .services-list { margin-left: 1rem;} */
    .services-list li {font-size: 1.2rem;}
    .card-image{width: 100%;}
    .card-image{height: 90%;}
    /* DIY */
    .diy-image {width: 220px; height: 220px;} 
    .panel {padding: 1rem;} 
}
/*--------------------------------------------------------------
>>> 576
----------------------------------------------------------------*/