/*--------------------------------------------------------------
>>> 1400
----------------------------------------------------------------*/

@media only screen and (min-width: 1400px) {

    /*--------------------------------------------------------------
    >>> LAYOUTS SAVE 
    --------------------------------------------------------------*/
    /* <div id="example" class="container">
        <h3 class="title">Even Columns</h3>
        <div class="flex">
            <div></div>
        </div>
    </div> */

    /* PAGE BODY */
    .page-body {
        max-width: 1568px;
        max-width: 100%;
        background-color: var(--dark);
    }

    .container {
        max-width: 100%;
        min-width: 100%;
        padding: 0 2rem;
        padding-block: min(4vh, 10rem);
    }
    /* PAGE BODY END */

    /* BUTTONS */
    .btn { 
        background-color: var(--);
        padding: 0.8rem 1.4rem;
        cursor: pointer;
        font-size: 1.2rem;
        color: black !important;
        border: none;
    }

    .btn:hover {
        background-color: var(--dark);
        color: var(--other1); 
        border: 2px solid var(---other1);
    }

    /* .btn-dark */
    /* .btn-light */
    .intro-btn {
        background-color: black;
        color: white;
        padding: 0.8rem 1.4rem;
        cursor: pointer;
        font-size: 1.2rem;
        border: none;
        margin-top: 3rem;
    }

    .intro-btn:hover {
        border: 2px solid white;
        color: white !important;
        background-color: black;
        padding: 0.7rem 1.2rem;

    }
    .bk-btn {
        background-color: var(--other1);
        padding: 1rem;
        cursor: pointer;
        font-size: 1.2rem;
        color: black !important;
        border: 2px solid black;
        margin-top: 3rem;

    }
    
    .bk-btn:hover {
        background-color: black; 
        color: white !important; 
        border: 2px solid var(--other1);
    }
    

    /* BUTTONS END */

    /* SIDEBAR */
    .sidebar {display: flex;flex-wrap: wrap;}
    .sidebar > *:nth-child(1) {flex: 1 1 70%;}
    .sidebar > *:nth-child(2) {flex: 1 1 30%;}
    /* SIDEBAR - END */

  

    /* FLEX */
    .flex {display: flex; flex-wrap: wrap;}
    .col {flex-direction: column;}
    .row {flex-direction: row;}
    .gap {gap: 15px;}
    .center {justify-content: center; align-items: center;}
    .jccenter {justify-content: center;}
    .accenter {align-content: center;}
    .jcspace {justify-content: space-around;}
    .acspace {align-content: space-between;}
    .aicenter {align-items: center;}

    /* .set {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    } */

    /* FLEX - END */

    /* SINGLE COLUMN */
    .flex1 {display: flex;}

    .flex1 > * {
        flex-basis: 1 1 100%;
        /* background-color: purple; */
        border: 3px solid yellow;
        min-height: 40px;
    }
    /* SINGLE COLUMN - END */

    /* TWO COLUMN : WRAP*/
    .flex2 {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }

    .flex2 > * {
        flex: 1 1 49%;
        /* background-color: purple; */
        border: 3px solid greenyellow;
        min-height: 40px;
    }
    /* TWO COLUMN : WRAP - END */
 
    /* THREE COLUMN : WRAP */
    .flex3 {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        align-items: center;
        justify-content: baseline;
    }

    .flex3 > * {
        flex: 1 1 32%;
        /* background-color: purple; */
        border: 3px solid greenyellow;
        min-height: 40px;
    }

    .special {order: 2;}
 
    /* THREE COLUMN : WRAP - END */

    /* FOUR COLUMN : WRAP */
    .flex4 {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }

    .flex4 > * {
        flex: 0 1 25%;
        background-color: purple;
        border: 3px solid greenyellow;
        min-height: 40px;
    }
    /* FOUR COLUMN : WRAP - END*/

    /* TITLES */
    /* h3 = title / h4 = subtitle */
    .ta {text-align: center;}
    .title {
        margin: 3rem 0 2rem 0;
        text-decoration: underline;

    }

    .subtitle {
        text-decoration: underline;

    }


    /*--------------------------------------------------------------
    >>> LAYOUTS SAVE END
    --------------------------------------------------------------*/


    /*--------------------------------------------------------------
    >>> HOME
    --------------------------------------------------------------*/

    #banner {background-color: var(--other1);}
    .banner-content * {color: black;}
    .contact-info {margin-top: 2rem;}
    .contact-info a {color: var(--light);}
    .contact-info i {margin:0rem 1rem 0 0rem;} 
    .nachi-intro-image {max-width: 60%;}
    #fname,#lname,#email,#age,#size,#location,#phone,#message::placeholder { color: var(--light);}
    #certifications {background-color: var(--other1);}
    #certifications h2 {color: black;}

    .contact-form input, textarea {
        background-color: var(--dark);
        width: 400px;
        border: 2px solid var(--light);
        margin: 10px 0;
        padding: 16px;
        color: var(--light);
    }

    .flex3 img {
        max-width: 50%;
        margin: 0 auto;
    }


  

    /*--------------------------------------------------------------
    >>> HOME END
    --------------------------------------------------------------*/


    /*--------------------------------------------------------------
    >>> ABOUT
    --------------------------------------------------------------*/
    #about > * {color: var(--light);}
    .about-text  {padding: 1rem 1rem 1rem 33rem;}
    .about-info {padding-top: 3rem;}

    .about-image img { 
        float: left;
        max-width: 30%;
        margin-right: 4rem;
    }
    /*--------------------------------------------------------------
    >>> ABOUT - END
    --------------------------------------------------------------*/


    /*--------------------------------------------------------------
    >>> FAQS
    --------------------------------------------------------------*/
    .faqs-section {
        max-width: 90%;
        margin: 0 auto;
        padding: 4rem 0 6rem 0;
    } 

  

    .accordion {
      background-color: var(--light);
      color: var(--dark);
      cursor: pointer;
      width: 100%;
      text-align: left;
      border: none;
      outline: none;
      transition: 0.4s;
      font-size: 1.2rem;
      padding: 1rem 2rem;
      margin-top: 2rem;
    }


    .active, .accordion:hover {
        background-color: var(--other1);
        color: black;
    }
    .panel p {
        max-width: 85%;
        color: var(--dark);
    }

    .panel {
        padding: 1rem 3rem;
        background-color: var(--light);
        display: none;
        overflow: hidden;
    } 

    /*--------------------------------------------------------------
    >>> FAQS - END
    --------------------------------------------------------------*/
    
    /*--------------------------------------------------------------
    >>> DIY
    --------------------------------------------------------------*/
    #diy {
        scroll-margin-top: 6rem;
        background-color: var(--other1);
    }
    .symbol {color: var(--other1);}

    .diy-section {
        max-width: 90%;
        margin: 0 auto;
        padding: 0 0 4rem 0;
    } 

    .diy-intro {
        background-color:#00ff00;
        padding: 3rem 0;
    }

    .panel-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .limitations-list {margin: 0 0 0 4rem;}
    .diy-pic {margin-top:3rem;} 

    .diy-image {
        border: 2px solid black;
        width: 400px;
        max-width: 48%;
        min-width: 48%;
        height: 400px;
        max-height: 400px;
        min-height: 400px;
    } 


    .diy-title {
        padding: 1rem;
        text-decoration: underline;
    }
    /*--------------------------------------------------------------
    >>> DIY - END
    --------------------------------------------------------------*/


    /*--------------------------------------------------------------
    >>> SERVICES
    --------------------------------------------------------------*/

    /* INFO CONTAINERS */
    #service {background-color: var(--other1);}
    #service * {color: black;}
    .service-info-1 * {color: var(--dark);}
    .service-info-2 * {color: var(--light);}
    .service-container-1 {background-color: var(--light);}
    .service-container-2 {background-color: var(--dark);}

    .nachi-btn {
        background-color: black;
        color: white !important;
        padding: 0.8rem 1.4rem;
        cursor: pointer;
        font-size: 1.2rem;
        border: none;
        /* margin-top: 23rem; */
    }

    .services-image img{
        width: 400px;
        height: 450px;
    }

    .lists {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: space-between;
        min-width: 80%;
    }

    hr {
        height: 2px;
        border: none;
        background-color: black;
        color: black;
        width: 50%;
        margin: 3rem auto;
    }

    /* THOUGHT BUBBLE */
    .thought-bubble strong {text-decoration: underline;}
    
    p.bubble {
        position: relative;
        width: 100%;
        text-align: center;
        line-height: 1.2em;
        margin: 0 auto;
        background-color: var(--dark);
        border: 8px solid var(--light);
        color: var(--light) !important;
        border-radius: 30px;
        /* font-family: sans-serif; */
        padding: 20px;
        font-size: large;
    }

    p.thought {
        width: 100%;
        border-radius: 200px;
        padding: 30px;	
    }

    p.bubble:before,
    p.bubble:after {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
    }

    p.thought:before,
    p.thought:after {
        left: 10px;
        bottom: -30px;
        width: 40px;
        height: 40px;
        background-color: var(--dark);
        border: 8px solid var(--light);
        -webkit-border-radius: 28px;
        -moz-border-radius: 28px;
        border-radius: 28px;
    }

    p.thought:after {
        width: 20px;
        height: 20px;
        left: 5px;
        bottom: -40px;
        -webkit-border-radius: 18px;
        -moz-border-radius: 18px;
        border-radius: 18px;
    }
    /* THOUGHT BUBBLE - END */

    /*--------------------------------------------------------------
    >>> SERVICES - END
    --------------------------------------------------------------*/


    /*--------------------------------------------------------------
    >>> WATER PURIFICATION
    --------------------------------------------------------------*/

    /*--------------------------------------------------------------
    >>> WATER PURIFICATION - END
    --------------------------------------------------------------*/
}

/*--------------------------------------------------------------
>>> 1400
----------------------------------------------------------------*/