/*--------------------------------------------------------------
>>> 768
----------------------------------------------------------------*/

@media only screen and (max-width: 768px) {

/*--------------------------------------------------------------
>>> NAVIGATION
--------------------------------------------------------------*/

.header_switch {margin-left: 4rem;}
.header_social {margin-left: 3rem;}

/*--------------------------------------------------------------
>>> NAVIGATION - END
--------------------------------------------------------------*/

/*--------------------------------------------------------------
>>> HERO
--------------------------------------------------------------*/

.hero_image {height: 60vh;}

/*--------------------------------------------------------------
>>> HERO - END
--------------------------------------------------------------*/


    
}

/*--------------------------------------------------------------
>>> 768
----------------------------------------------------------------*/
