/*--------------------------------------------------------------
>>> 992
----------------------------------------------------------------*/

@media only screen and (max-width: 992px) {

/*--------------------------------------------------------------
>>> NAVIGATION
--------------------------------------------------------------*/

.header {
  padding: 1rem 1rem 1rem 0rem;
  justify-content: space-around;
}

.nav_menu {
  position: fixed;
  left: -100%;
  top: 5rem;
  flex-direction: column;
  background-color: var(--secondary);
  width: 100%;
  text-align: center;
  transition: 0.3s;
  box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
  border-bottom: 3px solid var(--green);
}

.bar {
  display: block;
  width: 35px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--green);
}

.header_switch {margin-left: 7rem;}
.nav_menu.active {left: 0;}
.nav_item :hover {color: #DFC164;}
.nav_item {margin: 2rem 0;}
.nav_link :hover {color: #DFC164; }
.hamburger {display: block; cursor: pointer; }
.hamburger.active .bar:nth-child(1) {transform: translateY(8px) rotate(45deg);}
.hamburger.active .bar:nth-child(3) {transform: translateY(-8px) rotate(-45deg);} 

/*--------------------------------------------------------------
>>> NAVIGATION -END
--------------------------------------------------------------*/

}

/*--------------------------------------------------------------
>>> 992
----------------------------------------------------------------*/



.third, .one, .quarter, .left-half-col, .right-half-col {
  width: calc(100%-30px);
}

