/*--------------------------------------------------------------
>>> 1400
----------------------------------------------------------------*/

@media only screen and (min-width: 1400px) {

    /*--------------------------------------------------------------
    >>> TEXT
    --------------------------------------------------------------*/

    h1 {font-size: calc(1.375rem + 1.5vw) !important;}
    h2 {
        font-size: calc(1.225rem + 0.9vw) !important; 
    }
    h3 {
        font-size: calc(1.13rem + 0.6vw) !important;
        text-decoration: underline;
    } 
    h4 {
        font-size: calc(1.03rem + 0.3vw) !important;
        text-decoration: underline;
    } 
    h5 {font-size: calc(1rem + 0.3vw) !important;} 
    h6 {font-size: calc(0.8rem + 0.3vw) !important;} 
    a {font-size: calc(1.075rem + 0.3vw) !important;} 
    p {font-size: calc(1.075rem + 0.3vw) !important;} 

    /* TEXT STYLE( BOLD / UNDERLINE / FONT / ETC.) */
    /* h1, h2, h3, h4, h5, h6 {}
    p {} */
    a {text-decoration: none !important;}
    li {list-style: none !important; font-size: 1.6rem;}

    /*--------------------------------------------------------------
    >>> TEXT - END
    --------------------------------------------------------------*/


    /*--------------------------------------------------------------
    >>> LAYOUTS SAVE 
    --------------------------------------------------------------*/
    .page-body {background-color: var(--secondary);}
    /* <div class="example-container(color) container">
        <div class="flex">
            <div class="col single-col">
                text
            </div>
        </div>
       </div> */
    /* TOP PARENT */
    .container {
        min-width: 100%;
        max-width: 100%;
        padding: 30px 30px;
    }
    /* MID PARENT */
    .flex {
        display: flex;
        margin: 0 -15px;
        flex-wrap: wrap;
    }
    /* CHILD ROOT */
    .col {
        padding: 20px;
        margin: 30px 15px 30px;
        box-sizing: border-box;
        /* background-color: purple; */
    }
    /* CHILDREN */
    /* SINGLE COLUMN */
    .single-col {width: calc(100% -30px);}
    /* TWO COLUMN */
    .two-half-col {width: calc(50% - 30px);}
    /* THREE COLUMN */
    .three-col {width:calc(33.33% -28px);}
    /* QUARTER COLUMN */
    .quarter-col {
        width: calc(10% -30px) !important;
        padding: 0px;
    }
    /* CENTER */
    .center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* .btn{} */
    /* .btn:hover{} */

    /*--------------------------------------------------------------
    >>> LAYOUTS SAVE END
    --------------------------------------------------------------*/


    /*--------------------------------------------------------------
    >>> HOME
    --------------------------------------------------------------*/
    .btn { 
        background-color: var(--green);
        padding: 0.8rem 1.4rem;
        cursor: pointer;
        font-size: 1.2rem;
        color: black !important;
        border: none;
    }

    .btn:hover {
        background-color: var(--secondary);
        color: var(--green); 
        border: 2px solid var(---green);
    }

    .banner-content p {color: var(--primary); text-align: center;}
    .intro-info-container {background-color: var(--green);}
    .services-list-title { margin-bottom: 2rem;}
    .services-list li {list-style-type: disc !important;}

    .services-list {
        margin: 0 0 2rem 0;
        line-height: 2rem;
    }

    .intro-btn {
        background-color: black;
        color: white;
        padding: 0.8rem 1.4rem;
        cursor: pointer;
        font-size: 1.2rem;
        border: none;
    }

    .intro-btn:hover {
        border: 2px solid white;
        color: white;
        background-color: black;
        padding: 0.7rem 1.2rem;

    }

    .nachi-intro-image {max-width: 60%;}

    .contact-container * {color:var(--primary);}
    .contact-message {text-align: center;}
    .contact-message h3 {margin-bottom: 1rem;}
    .contact-info i {margin:0rem 1rem 0 0rem;}
    .contact-info {margin-top: 2rem;}
    .contact-info * {color: var(--primary);}
    .hours p {text-align: center;}
    .hours h3{
        margin: 5rem 0 1rem;
        text-decoration: underline;
    }
    .fa-solid {color: var(--green);}


    .form-title {margin-bottom: 1rem;}


    .contact-form input, textarea {
        background-color: var(--secondary);
        width: 400px;
        border: 2px solid var(--primary);
        margin: 10px 0;
        padding: 20px;
        outline: none;
        color: var(--primary);
    }

    #fname,#lname,#email,#age,#size,#location,#phone,#message::placeholder { color: var(--primary);}


    .certifications-container {background-color: var(--green);}
    .cert-title {
        text-align: center;
        padding: 2rem;
    }
  

    /*--------------------------------------------------------------
    >>> HOME END
    --------------------------------------------------------------*/


    /*--------------------------------------------------------------
    >>> FAQS
    --------------------------------------------------------------*/
    .faqs-section {
        max-width: 90%;
        margin: 0 auto;
        padding: 4rem 0 6rem 0;
    } 

    .accordion {
      background-color: var(--primary);
      color: var(--secondary);
      cursor: pointer;
      padding: 18px;
      width: 100%;
      text-align: left;
      border: none;
      outline: none;
      transition: 0.4s;
    
    }

    .faqs-item {
        background-color: var(--primary);
        padding: 1rem 2rem;
        margin-top: 2rem;
        cursor: pointer;
        font-size: 1.2rem;
    }
    
    .active, .accordion:hover {
      background-color: var(--green);
      color: black;
    }

    .panel {
      padding: 1rem 3rem;
      background-color: var(--primary);
      color: var(--secondary);
      display: none;
      overflow: hidden;
    } 

    .panel p {max-width: 85%;}
    .limitations-list { 
        margin: 1rem 0 1rem 1rem;
        list-style-type: disc;
    }

    .faq-btn { 
        margin-top: 6rem;
        background-color: var(--green);
        padding: 0.8rem 1.4rem;
        cursor: pointer;
        font-size: 1.2rem;
        color: black !important;
        border: 2px solid var(--primary);
    }

    .panel-flex {      
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .faqs-image {
  
        width: 400px;
        max-width: 400px;
        min-width: 400px;
        height: 400px;
        max-height: 400px;
        min-height: 400px;
    }

    /*--------------------------------------------------------------
    >>> FAQS - END
    --------------------------------------------------------------*/


    /*--------------------------------------------------------------
    >>> ABOUT
    --------------------------------------------------------------*/
    .about-text {color: var(--primary);}
    .about-image img { 
        float: left;
        max-width: 30%;
        margin-right: 4rem;
    }

    .about-text  {
        padding: 1rem 1rem 1rem 33rem;
    }

    .about-title{
        text-decoration: underline;
        color: var(--primary);
    }

    .about-info {
        padding-top: 3rem;
        /* float: left; */
        color: var(--primary);
        text-align: center;

    }
    
    /*--------------------------------------------------------------
    >>> ABOUT - END
    --------------------------------------------------------------*/

    
    /*--------------------------------------------------------------
    >>> DIY
    --------------------------------------------------------------*/
    #diy {scroll-margin-top: 6rem;}
    .symbol {color: var(---green);}

    .diy-intro {
        background-color:#00ff00;
        padding: 3rem 0;
    }

    .diy-text {
        color: black;
        text-align: center;
    }

    .diy-section {
        max-width: 90%;
        margin: 0 auto;
        padding: 4rem 0 6rem 0;
    } 

    .diy-item {
        background-color: var(--primary);
        padding: 1rem 2rem;
        margin-top: 2rem;
        cursor: pointer;
        font-size: 1.2rem;
    }

    .diy-info {
        margin-top:1.5rem;
        text-align: center;
        max-width: 75%;
    }

    .diy-pic {margin-top:3rem;}

    .diy-container {background-color: var(--primary);}
    .diy-container * {color: var(--secondary);}

    .diy-btn { 
        margin-top: 1.3rem;
        background-color: var(--green);
        padding: 0.8rem 1.4rem;
        cursor: pointer;
        font-size: 1.2rem;
        color: black !important;
    }

    .diy-btn:hover {
        border: 2px solid white;
        color: white;
        background-color: black;
        padding: 0.7rem 1.2rem;
    }

    .diy-btn:hover  {color: white !important;}

    .active, .accordion:hover {
        background-color: var(--green);
        color: black;
      }

    .diy-text h3{
        margin: 0.8rem 0 1.5rem 0;
        text-decoration: underline;
    }

    /*--------------------------------------------------------------
    >>> DIY - END
    --------------------------------------------------------------*/


    /*--------------------------------------------------------------
    >>> SERVICES
    --------------------------------------------------------------*/


    /* INFO CONTAINERS */
    .service-info-1 * {
        color: var(--secondary);
        text-align: center;
    }
    .service-info-2 * {
        text-align: center;
        color: var(--primary);
    }

    .service-container-1 {background-color: var(--primary);}
    .service-container-2 {background-color: var(--secondary);}

    .ser-btn {
        background-color: var(--green);
        padding: 0.8rem 1.4rem;
        cursor: pointer;
        font-size: 1.2rem;
        color: black !important;
        margin-top: 3rem;
    }

    .ser-btn:hover {
        background-color: var(--secondary);
        padding: 0.7rem 1.4rem;
        cursor: pointer;
        font-size: 1.2rem;
        color: var(--primary) !important;
        border: 2px solid var(--primary);
        margin-top: 3rem;
    }
        
    .ser-btn-2 {
        background-color: var(--primary);
        padding: 0.8rem 1.4rem;
        cursor: pointer;
        font-size: 1.2rem;
        color: var(--secondary);
        margin-top: 3rem;
    }

    .ser-btn-2:hover {
        background-color: var(--secondary);
        padding: 0.7rem 1.4rem;
        cursor: pointer;
        font-size: 1.2rem;
        color: var(--primary) !important;
        border: 2px solid var(--primary);
        margin-top: 3rem;
    }

    .services-image img{
        width: 400px;
        height: 450px;
    }
    /* INFO CONTAINERS - END */

    

    .service-outline-container {background-color: var(--green)}

    .res-intro h2{text-decoration: underline; }
    .res-intro h3 h2 {padding: 3rem 0 6rem 0;}
    .res-intro * {color: black; text-align: center; max-width: 80%;}


    .res-info{margin-top:2rem;}
    .res-info {text-align: center;}


    .lists {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: space-between;
        min-width: 80%;
    }

    hr {
        height: 2px;
        border: none;
        background-color: black;
        color: black;
        width: 50%;
        margin: 1.5rem auto;
    }

    /* THOUGHT BUBBLE */
    .thought-bubble strong {text-decoration: underline;}

    
    p.bubble {
        position: relative;
        width: 100%;
        text-align: center;
        line-height: 1.2em;
        margin: 0 auto;
        background-color: var(--secondary);
        border: 8px solid var(--primary);
        color: var(--primary);
        border-radius: 30px;
        /* font-family: sans-serif; */
        padding: 20px;
        font-size: large;
    }

    p.thought {
        width: 100%;
        border-radius: 200px;
        padding: 30px;	
    }

    p.bubble:before,
    p.bubble:after {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
    }

    p.thought:before,
    p.thought:after {
        left: 10px;
        bottom: -30px;
        width: 40px;
        height: 40px;
        background-color: var(--secondary);
        border: 8px solid var(--primary);
        -webkit-border-radius: 28px;
        -moz-border-radius: 28px;
        border-radius: 28px;
    }

    p.thought:after {
        width: 20px;
        height: 20px;
        left: 5px;
        bottom: -40px;
        -webkit-border-radius: 18px;
        -moz-border-radius: 18px;
        border-radius: 18px;
    }
    /* THOUGHT BUBBLE - END */



    /*--------------------------------------------------------------
    >>> SERVICES - END
    --------------------------------------------------------------*/


    /*--------------------------------------------------------------
    >>> WATER PURIFICATION
    --------------------------------------------------------------*/

    /*--------------------------------------------------------------
    >>> WATER PURIFICATION - END
    --------------------------------------------------------------*/
}

/*--------------------------------------------------------------
>>> 1400
----------------------------------------------------------------*/